<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<!-- 
<div class="container mt-4">
  <label>Search Place</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control w-50" [(ngModel)]="keyword" (keyup)="clickEnter()"
      placeholder="Type source/destination/via" />
    <button class="btn btn-danger" (click)="clearHistory()">Clear History</button>
  </div>

  <table class="table table-hover table-bordered border-primary text-center mt-4">
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Via</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of data">
        <td>{{ route.source }}</td>
        <td>{{ route.destination }}</td>
        <td>{{ route.via }}</td>
      </tr>
      <tr *ngIf="history.length === 0">
        <td colspan="3">No search history yet.</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- 
<div class="container mt-4">
  <label>Search Place</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control w-50" [(ngModel)]="keyword" (keyup)="onKeyup()"
      placeholder="Type source/destination/via" />
  </div>

  <table class="table table-hover table-bordered border-primary text-center mt-4">
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Via</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let route of filteredRoutes">
        <td>{{ route.source }}</td>
        <td>{{ route.destination }}</td>
        <td>{{ route.via }}</td>
      </tr>
      <tr *ngIf="filteredRoutes.length === 0">
        <td colspan="3">No matching routes</td>
      </tr>
    </tbody>
  </table>
</div> -->


<router-outlet></router-outlet>